<template>
  <div>
    <b-container>
      <b-row class="mt-3">
        <b-col md="4" offset-md="4">
          <b-card
                  border-variant="info"
                  header="Login"
                  header-bg-variant="info"
                  header-text-variant="white"
          >
            <b-card-text>
              <b-form @submit.prevent="submit">
                <b-form-group

                        label="Email address:"
                        label-for="email"
                >
                  <b-form-input
                          id="email"
                          v-model="form.email"
                          type="email"
                          required
                          email
                          placeholder="Enter email"
                  ></b-form-input>
                </b-form-group>

                <b-form-group

                        label="Password:"
                        label-for="password"
                >
                  <b-form-input
                          id="password"
                          v-model="form.password"
                          type="password"
                          required
                  ></b-form-input>
                </b-form-group>

                <b-button type="submit" variant="info ">Login</b-button>

              </b-form>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Login',
  data(){
    return {
      form : {
        email:'adamibrahim1701@gmail.com',
        password:'password',
      }
    }
  },
  components: {
   //
  },

  methods:{
    ...mapActions({
      'login' : 'auth/login'
    }),
    submit() {
      this.login(this.form).then(()=>{
        this.$router.replace({
          name:'Dashboard'
        })
      }).catch(()=> {
        console.log('failed')
      })
    }
  }
}
</script>
