<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Authentication</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#" :to="{name:'Home'}" ml-auto>Home</b-nav-item>
                </b-navbar-nav>
                <b-navbar-nav class="ml-auto">
                    <template v-if="authenticated">
                        <b-nav-item-dropdown right>
                            <template v-slot:button-content>
                                <em>{{ user.name }}</em>
                            </template>
                            <b-dropdown-item  href="#" :to="{name:'Dashboard'}" ml-auto>Dashboard</b-dropdown-item>
                            <b-dropdown-item href="#" @click.prevent="logout" >Logout</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </template>
                    <template v-else>
                        <b-nav-item href="#" :to="{name:'Login'}">Login</b-nav-item>
                    </template>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    export default {
        name: "TheNavigation",

        computed : {
            ...mapGetters({
                'authenticated': 'auth/authenticated',
                'user': 'auth/user',
            })
        },
        methods:{
            ...mapActions({
                logoutAction:'auth/logout'
            }),

            logout(){
                this.logoutAction().then(()=>{
                    this.$router.replace({
                        name:'Login'
                    })
                })
            }
        }

    }
</script>

<style scoped>

</style>
